@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'PoppinsRegular';
    font-weight: 400;
    src: url('/fonts/Poppins-Regular.ttf') 
  }

  @font-face {
    font-family: 'PoppinsItalic';
    font-weight: 400;
    src: url('/fonts/Poppins-Italic.ttf') 
  }

  @font-face {
    font-family: 'PoppinsMedium';
    font-weight: 500;
    src: url('/fonts/Poppins-Medium.ttf') 
  }
  
  @font-face {
    font-family: 'PoppinsSemiBold';
    font-weight: 600;
    src: url('/fonts/Poppins-SemiBold.ttf')
  }
  
  @font-face {
    font-family: 'PoppinsBold';
    font-weight: 900;
    src: url('/fonts/Poppins-Bold.ttf') 
  }
  